.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
}
.col {
    width: 50%;
    margin: 0;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.img-categoria {
    background-image: url(../img/img_categoria.jpg);
}
.img-producto {
    background-image: url(../img/img_producto.jpg);
}
.img-empresa {
    background-image: url(../img/img_empresa.jpg);
}
.img-perfil {
    background-image: url(../img/img_perfil.jpg);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin: 12px 35% 12px 48px;
}
label {
    margin-bottom: 4px;
}
input, select {
    margin-bottom: 16px;
}

.heading,
.go-back {
    margin: 40px 48px;
}
.go-back i.fa {
    margin-right: 16px;
}
.go-back {
    color: var(--text-secondary);
}